.info {
  // margin-top: 30vh;
  justify-content: center;
  align-items: start;
  height: 100%; /* Set the maximum height to the viewport height */
  overflow: hidden;
  .intro {
    margin-top: 300px;
    height: 50%;
    font-size: 100px;
    color: white;
    font-family: 'Roboto Slab';
    display: flex;
    justify-content: center; /* Center content horizontally */
    // animation: fadeIn 5s;
    animation: slide-in 1s;
    
  }
  
  .aboutMe {
    font-size: 30px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    color: white;
    animation: fadeIn 5s;
  }

  
  
}

.icons{
  // padding-top: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row; 
  justify-content:space-evenly; 
  align-items: center; /* Center vertically */
  

}
.liIcon:hover{
  // background: #ffff;
  color: #050801;
  filter: invert(1);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),
    0 0 25px rgba(0, 0, 0, 0.2),
    0 0 50px rgba(0, 0, 0, 0.2),
    0 0 200px rgba(0, 0, 0, 0.2),

}

.ghIcon:hover{
  // background: #ffff;
  color: #050801;
  filter: invert(1);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),
    0 0 25px rgba(0, 0, 0, 0.2),
    0 0 50px rgba(0, 0, 0, 0.2),
    0 0 200px rgba(0, 0, 0, 0.2),
}

.mailIcon:hover{
  // background: #ffff;
  color: #050801;
  filter: invert(1);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),
    0 0 25px rgba(0, 0, 0, 0.2),
    0 0 50px rgba(0, 0, 0, 0.2),
    0 0 200px rgba(0, 0, 0, 0.2),

}



@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes example {
  from {transform: transition(0,0)}
  to {transform: transition(3em,0)}
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
